{% extends 'base.html.twig' %}

{% block title %}Equipement{% endblock %}

{% block main %}
    <h1>Equipement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipement.id }}</td>
            </tr>
            <tr>
                <th>NomEquipement</th>
                <td>{{ equipement.nomEquipement }}</td>
            </tr>
            <tr>
                <th>PhotoEquipement</th>
                <td>{{ equipement.photoEquipement }}</td>
            </tr>
            <tr>
                <th>DetailEquipement</th>
                <td>{{ equipement.detailEquipement }}</td>
            </tr>
            <tr>
                <th>EtatVestuste</th>
                <td>{{ equipement.etatVestuste }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipement_index') }}">back to list</a>

    <a href="{{ path('equipement_edit', {'id': equipement.id}) }}">edit</a>

    {{ include('equipement/_delete_form.html.twig') }}
{% endblock %}
