{% extends 'base.html.twig' %}

{% block title %}{% trans %}Passage à gué{% endtrans %}{% endblock %}

{% block main %}
    <h1>{% trans %}Passage à gué{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Gps - X{% endtrans %}</th>
                <th>{% trans %}Gps - Y{% endtrans %}</th>
                <th>{% trans %}Fréquence de submersion{% endtrans %}</th>
                <th>{% trans %}Largeur du passage{% endtrans %}</th>
                <th>{% trans %}Longueur du passage{% endtrans %}</th>
                <th>{% trans %}Trafic journalier{% endtrans %}</th>
                <th>{% trans %}Limitation respectée{% endtrans %}</th>
                <th>{% trans %}Archive{% endtrans %}</th>
                <th>{% trans %}Taux d'accidentalité{% endtrans %}</th>
                <th>{% trans %}Type d'ouvrage{% endtrans %}</th>
                <th>{% trans %}Cours d'eau{% endtrans %}</th>
                <th>{% trans %}Localisation{% endtrans %}</th>
                <th>{% trans %}Gestionnaire{% endtrans %}</th>
                <th>{% trans %}Utilisateurs ayant accès aux données{% endtrans %}</th>
                <th>{% trans %}Submersions{% endtrans %}</th>
                <th>{% trans %}Route{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for passage_a_gue in passage_a_gues %}
            {% if passage_a_gue.boolArchive == 0 %}
                <tr>
                    <td>{{ passage_a_gue.gpsX }}</td>
                    <td>{{ passage_a_gue.gpsY }}</td>
                    <td>{{ passage_a_gue.frequenceSubmersion }}</td>
                    <td>{{ passage_a_gue.largeurPassage }}</td>
                    <td>{{ passage_a_gue.longueurPassage }}</td>
                    <td>{{ passage_a_gue.traficJournalier }}</td>
                    <td>{{ passage_a_gue.boolLimitationRespectee ? 'Oui' : 'Non' }}</td>
                    <td>{{ passage_a_gue.boolArchive ? 'Oui' : 'Non' }}</td>
                    <td>{{ passage_a_gue.tauxAccidentalite }}</td>
                    <td>{{ passage_a_gue.TypeOuvrage }}</td> 
                    <td>{{ passage_a_gue.CoursEau }}</td> 
                    <td>{{ passage_a_gue.localisation }}</td>  
                    <td>{{ passage_a_gue.idUtilisateur.fullname }}</td>                
                    <td>
                        <select name="" id=""> 
                            <option>{% trans %}Utilisateurs{% endtrans %}</option>
                        {% for user in passage_a_gue.users %}
                            <option>
                            {{ user.fullname }} 
                            </option> 
                        {% endfor %}                 
                        </select>
                    </td>
                    <td>               
                        <select name="" id=""> 
                            <option>{% trans %}Submersions{% endtrans %}</option>
                        {% for submersion in passage_a_gue.submersions %}
                            <option>
                            {{ submersion.fullname ~ ';'}} 
                            </option>
                        {% endfor %}                 
                    </select>   
                    </td> 
                    <td>               
                        <select name="" id=""> 
                            <option>{% trans %}Routes{% endtrans %}</option>
                        {% for route in passage_a_gue.route %}
                            <option>
                            {{ route.numeroRoute }} 
                            </option> 
                        {% endfor %}                 
                        </select>   
                    </td>         

                    <td>
                        <div class="bouton-align">
                            <a href="{{ path('passage_a_gue_show', {'id': passage_a_gue.id}) }}" class="btn btn-info">{% trans %}Voir + {% endtrans %}</a>
                            {% if is_granted('ROLE_TECHNICIEN') %}
                                <a href="{{ path('passage_a_gue_edit', {'id': passage_a_gue.id}) }}" class="btn btn-primary">{% trans %}Modifier{% endtrans %}</a>
                            {% endif %}
                            {% if is_granted('ROLE_GESTIONNAIRE') %}
                                {{ include('passage/_archive_form.html.twig') }}
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ include('passage/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="11">{% trans %}Pas d'enregistrement trouvé{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="bouton-align">
        <a href="{{ path('creation') }}" class="btn btn-success">{% trans %}Créer un nouveau passage{% endtrans %}</a>
        <a href="{{ path('accueil') }}" class="btn btn-secondary">{% trans %}Retour{% endtrans %}</a>
    </div>
{% endblock %}