{% extends 'base.html.twig' %}


{% block title %}{% trans %}Passage à gué{% endtrans %}{% endblock %}

{% block main %}
    <!-- Carte -->
    <div id="maCarte"></div>
    <!-- Carte -->
    <h1>{% trans %}Passage à gué{% endtrans %}</h1>

    <table class="table table-sm table-hover">        
        <tbody>
            <tr>
                <th>{% trans %}Gestionnaire{% endtrans %}</th>
                <td>
                <table class="table table-sm"> 
                    <thead>
                        <tr>
                            <th>{% trans %}Nom{% endtrans %}</th>
                            <th>{% trans %}Prénom{% endtrans %}</th> 
                            <th>{% trans %}Email{% endtrans %}</th>                 
                        </tr>             
                    </thead>
                     <tbody>
                        <tr> 
                            <td>{{ passage_a_gue.idUtilisateur.nomUtilisateur }}</td>
                            <td>{{ passage_a_gue.idUtilisateur.prenomUtilisateur }}</td>
                            <td>{{ passage_a_gue.idUtilisateur.email }}</td>
                        </tr>
                    </tbody>   
                </table>
                </td>
            </tr>
            <tr>
                <th>{% trans %}Type d'ouvrage{% endtrans %}</th>
                <td>{{ passage_a_gue.TypeOuvrage }}</td>
            </tr>
            <tr>
                <th>{% trans %}Cours d'eau{% endtrans %}</th>
                <td>{{ passage_a_gue.coursEau }}</td>
            </tr>
            <tr>
                <th>{% trans %}Localisation{% endtrans %}</th>
                <td id="passageLocalisation">{{ passage_a_gue.localisation }}</td>
            </tr>             
            <tr>
                <th>{% trans %}Gps - X{% endtrans %}</th>
                <td id="passageGpsX">{{ passage_a_gue.gpsX }}</td>
            </tr>
            <tr>
                <th>{% trans %}Gps - Y{% endtrans %}</th>
                <td id="passageGpsY">{{ passage_a_gue.gpsY }}</td>
            </tr>            
            <tr>
                <th>{% trans %}Largeur du passage{% endtrans %}</th>
                <td>{{ passage_a_gue.largeurPassage }}</td>
            </tr>
            <tr>
                <th>{% trans %}Longueur du passage{% endtrans %}</th>
                <td>{{ passage_a_gue.longueurPassage }}</td>
            </tr>
            <tr>
                <th>{% trans %}Trafic journalier{% endtrans %}</th>
                <td>{{ passage_a_gue.traficJournalier }}</td>
            </tr>
            <tr>
                <th>{% trans %}Fréquence de submersion{% endtrans %}</th>
                <td>{{ passage_a_gue.frequenceSubmersion }}</td>
            </tr>
            <tr>
                <th>{% trans %}Limitation respectée{% endtrans %}</th>
                <td>{{ passage_a_gue.boolLimitationRespectee ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Taux d'accidentalité{% endtrans %}</th>
                <td>{{ passage_a_gue.tauxAccidentalite }}</td>
            </tr> 
            <tr>
                <th>{% trans %}Archivé{% endtrans %}</th>
                <td>{{ passage_a_gue.boolArchive ? 'Oui' : 'Non' }}</td>
            </tr> 
            <tr>
                <th>{% trans %}Utilisateurs ayant accès aux données{% endtrans %}</th>                     
                <td>               
                    <table class="table table-sm table-hover"> 
                    <thead>
                        <tr>
                            <th>{% trans %}Nom{% endtrans %}</th>
                            <th>{% trans %}Prénom{% endtrans %}</th> 
                            <th>{% trans %}Email{% endtrans %}</th>                 
                        </tr>
                    </thead>
                     <tbody>
                 {% for user in passage_a_gue.users %}                    
                    <tr>                        
                        <td>{{ user.nomUtilisateur}}</td>                        
                        <td>{{ user.prenomUtilisateur}}</td>  
                        <td> {{ user.email}}</td>                
                    </tr>  
                 {% endfor %}
                    </tbody>                 
                    </table>
                </td>                      
            </tr>
             <tr>
                <th>{% trans %}Submersions{% endtrans %}</th>                     
                <td>               
                    <table class="table table-sm table-hover table-bordered"> 
                    <thead>
                        <tr>
                            <th>{% trans %}Nom{% endtrans %}</th>
                            <th>{% trans %}Date{% endtrans %}</th>                
                        </tr>
                    </thead> 
                     <tbody>           
                 {% for submersion in passage_a_gue.submersions %}
                    <tr>                        
                        <td>{{ submersion.nomSubmersion}}</td>                        
                        <td>{{ submersion.getDateSubmersion2}}</td>                   
                    </tr>     
                 {% endfor %}
                    </tbody>                 
                    </table>
                </td>                      
            </tr> 
            <tr>
                <th>{% trans %}Route{% endtrans %}</th>                     
                <td> 
                    <table> 
                    <tbody>                    
                 {% for route in passage_a_gue.route %}
                    <tr>                        
                        <td>{{ route.numeroRoute }}</td>
                    </tr> 
                 {% endfor %} 
                    <tbody>                
                   </table>
                </td>                      
            </tr> 
            <tr>
                <th>Equipements</th>                     
                <td> 
                    <table> 
                    <tbody>                    
                 {% for equipement in passage_a_gue.equipements %}
                    <tr>                        
                        <td>{{ equipement.nomEquipement }}</td>
                    </tr> 
                 {% endfor %} 
                    <tbody>                
                   </table>
                </td>                      
            </tr> 
            <tr>
                <th>Procedures</th>                     
                <td> 
                    <table> 
                    <tbody>                    
                 {% for procedure in passage_a_gue.procedures %}
                    <tr>                        
                        <td>{{ procedure.nomProcedure }}</td>
                    </tr> 
                 {% endfor %} 
                    <tbody>                
                   </table>
                </td>                      
            </tr>                       
        </tbody>
    </table>
    <div class="bouton-align">
        <div><a href="{{ path('passage_a_gue_index') }}" class="btn btn-secondary">{% trans %}Retour{% endtrans %}</a></div>
        <div><a href="{{ path('passage_a_gue_edit', {'id': passage_a_gue.id}) }}" id="voirModifier" class="btn btn-info" >{% trans %}Modifier{% endtrans %}</a></div>
        <div>{{ include('passage/_delete_form.html.twig') }}</div>
{% endblock %}

{% block script %}
    <!-- Carte -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="/js/carte.js"></script>
   <!-- Carte -->
{% endblock %}