{% extends 'base.html.twig' %}

{% block title %}{% trans %}Types d'équipements{% endtrans %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}
{% block main %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>{% trans %}Types d'équipements{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Nom{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for type_equipement in type_equipements %}
            <tr>
                <td>{{ type_equipement.nomTypeEquipement }}</td>
                <td>{{ type_equipement.descriptionTypeEquipement }}</td>
                <td>
                    <div class="bouton-align">
                        <div>
                        <a href="{{ path('type_equipement_edit', {'id': type_equipement.id}) }}"  class="btn btn-info">{% trans %}Modifier{% endtrans %}</a>
                        </div>
                        <div>
                            {{ include('type_equipement/_delete_form.html.twig') }}
                        </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="bouton-align">
        <a href="{{ path('type_equipement_new') }}" class="btn btn-success">{% trans %}Créer un nouveau type d'équipement{% endtrans %}</a>
        <a href="{{ path('parametrage') }}" class="btn btn-secondary">{% trans %}Retour{% endtrans %}</a>
    </div>
    
{% else %}
    <p>{% trans %}Accès interdit, veuillez contacter l'administrateur du site{% endtrans %}</p>
{% endif %}
{% endblock %}