{% extends 'base.html.twig' %}

{% block title %}{% trans %}Familles d'ouvrage{% endtrans %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}
{% block main %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>{% trans %}Familles d'ouvrage{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Famille{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for famille_ouvrage in famille_ouvrages %}
            <tr>
                <td>{{ famille_ouvrage.nomFamilleOuvrage }}</td>
                <td>
                    <div class="bouton-align">
                        <div>
                            <a href="{{ path('famille_ouvrage_edit', {'id': famille_ouvrage.id}) }}"  class="btn btn-info">{% trans %}Modifier{% endtrans %}</a>
                        </div>
                        <div>
                            {{ include('famille_ouvrage/_delete_form.html.twig') }}
                        </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="bouton-align">
        <a href="{{ path('famille_ouvrage_new') }}" class="btn btn-success">{% trans %}Créer une nouvelle famille{% endtrans %}</a>
        <a href="{{ path('parametrage') }}" class="btn btn-secondary">{% trans %}Retour{% endtrans %}</a>
    </div>
{% else %}
    <p>{% trans %}Accès interdit, veuillez contacter l'administrateur du site{% endtrans %}</p>
{% endif %}
{% endblock %}